<h1>Login Page</h1>
<link href="~/Content/JackyStyle.css" rel="stylesheet" type="text/css" />
<form action="Result" method="get">
    <p>First Name</p><input name="FirstName"type="text" />
    <p>Last Name</p><input name="LastName" />
    <p>Email</p><input name="Email" type="email"/>
    <p>Phone Number</p><input name="PhoneNumber"type="tel"/>
    <p>Password</p><input name="Password" type="password"/>
    <p>BirthDate</p><input name="BirthDate" type="datetime"/>
    

    <input type="submit"/>

</form>